/* success message */

/* Overlay styling */
#success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  /* Semi-transparent black */
    z-index: 9999;
    display: grid;
    place-items: center;
}

/* Success message box */
.alert-success-message {
    position: relative;
    background: linear-gradient(to right, #e0f7fa, #e3f2fd);
    color: #333;
    border: 1px solid #b2ebf2;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    animation: fadeIn 0.5s;
    width: 500px;
    max-width: 90%;
    text-align: center;  /* Center align the content */
}

/* Icon styling */
.icon-container {
    width: 60px;
    height: 60px; 
    font-size: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* Message content */
.message-content strong {
    font-size: 22px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

.message-content p {
    margin: 0;
    color: #555;
    font-size: 16px;
}

/* Close button styling */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    color: #555;
    font-size: 20px;
    cursor: pointer;
}

.close-btn:hover {
    color: #f44336;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* end success message  */


.info-frm {
    display: flex;
    gap: 50px;
}

.per-info {
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 30px;
    border-radius: 10px;
    width: 100%;
}

.chng-pass-frm {
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px 30px;
    border-radius: 10px;
}

.upload-container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    text-align: center;
    max-width: 250px;
    width: 100%;
    height: fit-content;
}

.upload-container img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 20px;
}

.upload-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-btn:hover {
    background-color: #357ae8;
}

.upload-btn input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

.upload-label {
    position: relative;
    overflow: hidden;
}

.upload-label i {
    margin-right: 8px;
}